extends layout

block content
  if !req.isAuthenticated()
    a(href="/signup") Sign Up
  else if req.user.status==="normal"
    a(href="/signup/becomeamember") Become a member
  if !req.isAuthenticated()
    br
    a(href="/login")  Log In
    br
  if req.isAuthenticated()
    a(href="/logout") Log Out
  h1= title
  p=`req.user is ${req.user}`
  p=`req.user is ${req.isAuthenticated()}`
  if req.isAuthenticated()
    form(action="/createpost" method="post")
      div= `author:${req.user.username}`
      label(for="content") 
      input(type="text" required minlength="1" name="content" id="content")
      button(type="submit") Submit Post
  each post in posts
    div
      if !req.isAuthenticated()
        p
          i anonymus created sometime in the past
      else if req.user.status!=="normal"
        p= post.author.username
        img(src=post.author.profile_picture.link)
        p= post.created_at.toLocaleString()

      else if req.user._id.toString()===post.author._id.toString()
        p= post.author.username
        img(src=post.author.profile_picture.link)
        p= post.created_at.toLocaleString()
      else
        p
          i anonymus created sometime in the past
      p=post.content
